





@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff") format("woff"), url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f;
}
input[type=text],
input[type=email],
input[type=password] {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 9px 15px;
  margin: 0px;
  margin-bottom: 20px;
  min-width: 239px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.page-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 250;
}
.overlay--show {
  display: block;
}
.overlay--hide {
  display: none;
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: inline-block;
  padding: 11px 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  background-color: #f06542;
  background: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  box-shadow: none;
  border: none;
  border-radius: 23px;
  cursor: pointer;
  outline: none;
}
/*!
  * ===========================================================
  * LOGIN FORM
  * ===========================================================
  */
.login-form {
  display: block;
  padding: 20px 19px;
  width: 239px;
  font-size: 0px;
  background-color: #f8f7f4;
  border-radius: 5px;
}
.login-form__link-items {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  width: 123px;
  line-height: 0px;
}
.login-form__link-item {
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}
/*!
  * ===========================================================
  * BASKET TABLE
  * ===========================================================
  */
.basket-table {
  margin: 0px;
  padding: 0px;
  border: none;
}
.basket-table__btn {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 0px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.basket-table__btn--remove {
  background-image: url('../img/cross.svg');
}
.basket-table__item td {
  vertical-align: middle;
}
.basket-table__item--total {
  text-align: right;
}
.basket-table__item--total td {
  padding: 0px;
  text-align: right;
}
.basket-table__col-control {
  padding: 14px 15px;
  font-size: 0px;
}
.basket-table__col-preview {
  padding: 14px 0px;
}
.basket-table__col-label {
  padding: 14px 15px;
  width: 225px;
}
.basket-table__col-price {
  padding: 14px 15px;
}
.basket-table__col-sum {
  padding: 14px 15px;
}
.basket-table__price {
  color: #999999;
}
.basket-table__total {
  display: block;
  padding: 14px 0px;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  border-top: 1px solid #cacac7;
}
/*!
  * ===========================================================
  * PAGE HEADER
  * ===========================================================
  */
.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 27px;
  min-height: 80px;
}
.page-header__logo {
  display: block;
  margin: 0px;
  margin-top: 5px;
  margin-left: -5px;
  margin-right: 20px;
}
.page-header__search {
  display: block;
  position: relative;
  margin-left: auto;
  font-size: 0px;
}
.page-header__search-form {
  display: block;
  position: absolute;
  top: 36px;
  right: 0px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  visibility: hidden;
  transition: 0.1s 0.2s;
  z-index: 100;
}
.page-header__search-form:hover {
  visibility: visible;
}
.page-header__search-form input {
  margin: 0px;
  min-width: 312px;
}
.page-header__user {
  display: block;
  font-size: 0px;
}
.page-header__user-login {
  display: inline-block;
  vertical-align: top;
}
.page-header__user-login .login-form {
  display: none;
  z-index: 100;
}
.page-header__btn {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  padding: 8px 33px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  border-radius: 17px;
  cursor: pointer;
}
.page-header__btn:hover {
  color: #323232;
  background-color: #f8f7f4;
}
.page-header__btn--search {
  padding: 0px;
  margin: 0px;
  width: 34px;
  height: 34px;
  font-size: 0px;
  background-image: url('../img/search-icon.png');
  background-position: 50% 50%;
}
.page-header__btn--search:hover + .page-header__search-form {
  visibility: visible;
  transition-delay: 0s;
}
.page-header__btn--login {
  padding: 8px 18px;
  padding-left: 43px;
  background-image: url('../img/enter-icon.png');
}
.page-header__btn--basket {
  background-image: url('../img/basket-icon.png');
}
.page-header__btn--basket-full {
  color: #323232;
  background-color: #f7f6f3;
  background-image: url('../img/basket-full-icon.png');
}
.page-header__user-basket {
  display: inline-block;
  vertical-align: top;
}
.page-header__basket-popup {
  display: none;
  padding: 20px 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 100;
}
.page-header__contacts {
  display: block;
  position: absolute;
  top: 72px;
  right: 27px;
  text-align: right;
}
.page-header__contacts-days {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.page-header__contacts-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
/*!
  * ===========================================================
  * MAIN NAVIGATION
  * ===========================================================
  */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav__item {
  display: inline-block;
  position: relative;
  margin-right: 4px;
}
.main-nav__link {
  display: inline-block;
  padding: 7px 10px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.main-nav__link--active {
  border: none;
  background-color: #d07058;
  border-radius: 16px;
  color: #ffffff;
}
.main-nav__link:hover {
  border: none;
  background-color: #f7f6f3;
  border-radius: 16px;
  color: #323232;
}
.main-nav__link:hover + .main-nav__popup {
  visibility: visible;
  transition-delay: 0s;
}
.main-nav__popup {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 36px;
  left: -5px;
  min-width: 143px;
  list-style-type: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.1s 0.2s;
  z-index: 100;
}
.main-nav__popup:hover {
  visibility: visible;
}
.main-nav__popup-item {
  margin-bottom: 4px;
}
.main-nav__popup-link {
  display: block;
  padding: 6px 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
.main-nav__popup-link--title {
  padding: 11px 18px;
  font-weight: bold;
}
.main-nav__popup-link:hover {
  background-color: #fbded8;
}
/*!
  * ===========================================================
  * PAGE CONTENT
  * ===========================================================
  */
.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/*!
  * ===========================================================
  * BREADCRUMBS
  * ===========================================================
  */
.breadcrumbs {
  margin: 5px 27px;
  margin-right: 250px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.breadcrumbs__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:nth-child(n + 2)::before {
  content: "»";
}
.breadcrumbs__link {
  color: #ffffff;
}
/*!
  * ===========================================================
  * CATALOG
  * ===========================================================
  */
.catalog {
  margin: 0px 27px;
  padding: 30px 0px;
  text-align: right;
  border-bottom: 1px solid #a9bbb1;
}
.catalog__header {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  text-align: left;
}
.catalog__filter {
  margin-bottom: 20px;
}
.catalog__list {
  padding: 10px 0px;
}
.catalog__list h3 {
  display: block;
  width: 100%;
}
.catalog__list-items {
  display: flex;
  flex-wrap: wrap;
}
/*!
  * ===========================================================
  * PROMO SLIDER
  * ===========================================================
  */
.promo-slider input[type=radio] {
  display: none;
}
.promo-slider__item {
  display: none;
  position: relative;
}
.promo-slider__item h2 {
  display: block;
  position: absolute;
  bottom: 130px;
  left: 50%;
  margin: 0px;
  width: 700px;
  height: 140px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%);
}
.promo-slider__item img {
  display: block;
  margin: 0 auto;
  z-index: 80;
}
.promo-slider__item a {
  display: inline-block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  padding: 9px 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  border-radius: 31px;
  transform: translateX(-50%);
}
.promo-slider__item:first-child {
  display: block;
}
/*!
  * ===========================================================
  * PROMO CARDS
  * ===========================================================
  */
.promo-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: -17px;
  padding: 0px 27px;
}
.promo-cards h2 {
  display: block;
  width: 100%;
}
.promo-cards__item {
  margin: 0px;
  margin-bottom: 20px;
  padding: 15px 20px;
  padding-bottom: 23px;
  width: 520px;
  z-index: 100;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 15px;
}
.promo-cards__item--razz {
  background-image: url('../img/razz-background.jpg');
}
.promo-cards__item--chocolate {
  background-image: url('../img/chocolate-background.jpg');
}
.promo-cards__item:nth-child(odd) {
  margin-left: auto;
}
.promo-cards__item-content {
  text-align: right;
}
.promo-cards__item-content h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  text-align: left;
}
.promo-cards__item-content p {
  margin-top: 15px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: left;
}
/*!
  * ===========================================================
  * PROMO HITS
  * ===========================================================
  */
.promo-hits {
  padding: 0px 27px;
}
.promo-hits h2 {
  display: block;
  width: 100%;
}
.promo-hits__items {
  display: flex;
  flex-wrap: wrap;
}
/*!
  * ===========================================================
  * FILTER FORM
  * ===========================================================
  */
.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0px;
}
.filter-form__item {
  position: relative;
  margin: 0px 7px;
  margin-top: 30px;
  padding: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  border: none;
  background-color: rgba(225, 255, 255, 0.2);
  border-radius: 17px;
}
.filter-form__title {
  position: absolute;
  top: -25px;
  left: 20px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.filter-form__fatcontent {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.filter-form__fatcontent-item {
  display: inline-block;
}
.filter-form__fillers {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.filter-form__fillers-item {
  display: inline-block;
}
.filter-form__price-range {
  display: flex;
  align-items: center;
}
.filter-form__price-range input[type=text] {
  margin: 0px 10px;
  padding: 0px 10px;
  min-width: 50px;
  width: 50px;
  border: none;
}
.filter-form__btn {
  display: inline-block;
  align-self: flex-end;
  padding: 7px 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.19);
  color: #ffffff;
  box-shadow: none;
  border: 2px solid #ffffff;
  border-radius: 18px;
  cursor: pointer;
  outline: none;
}
/*!
  * ===========================================================
  * PRODUCT ITEM
  * ===========================================================
  */
.product-item {
  position: relative;
  margin-top: 20px;
  width: 267px;
}
.product-item--hit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background-color: transparent;
  background-image: url('../img/hit-mark.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.product-item:not(:nth-child(4n)) {
  margin-right: 26px;
}
.product-item__img-wrap {
  width: 266px;
  height: 266px;
  border-radius: 133px;
  overflow: hidden;
}
.product-item__price {
  position: absolute;
  top: 210px;
  left: 0px;
}
.product-item__cost {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.product-item__amount {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}
.product-item__desc {
  margin: 15px 0px;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
}
.product-item__hover-wrap {
  display: none;
}
.product-item__hover-wrap--hidden {
  display: none;
}
/*!
  * ===========================================================
  * ABOUT SHOP
  * ===========================================================
  */
.about-shop {
  margin: 20px 27px;
  padding: 15px 20px;
  color: #323232;
  background-color: #eee0c4;
  background-image: url('../img/wafer-bg-pattern.jpg');
  background-position: 15px 50%;
  border-radius: 17px;
}
.about-shop h2 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.about-shop__items {
  margin: 0;
  padding: 0px;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 25px;
       column-gap: 25px;
  list-style-type: none;
}
.about-shop__item {
  position: relative;
  padding: 10px;
  padding-left: 57px;
  padding-right: 5px;
  padding-bottom: 11px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}
.about-shop__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-position: 50% 50%;
  border-radius: 17px;
}
.about-shop__item--icecream::before {
  background-image: url('../img/ice-cream-icon.png');
}
.about-shop__item--leaf::before {
  background-image: url('../img/leaf-icon.png');
}
.about-shop__item--cow::before {
  background-image: url('../img/cow-icon.png');
}
.about-shop__item--temp::before {
  background-image: url('../img/temp-icon.png');
}
/*!
  * ===========================================================
  * NOTES
  * ===========================================================
  */
.notes {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 27px;
}
.notes h2 {
  display: block;
  width: 100%;
}
.notes__note-item {
  margin: 0px;
  margin-bottom: 20px;
  padding: 20px;
  width: 520px;
  min-height: 180px;
  color: #323232;
  background-color: #f8f7f4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 15px;
  z-index: 100;
}
.notes__note-item--blog {
  background-image: url('../img/ice-cream-background.jpg');
}
.notes__note-item--subscribe {
  padding: 5px;
  width: 550px;
  background-repeat: repeat;
  background-position: 0 0;
  background-image: url('../img/letter-bg-pattern.png');
}
.notes__note-item:nth-child(odd) {
  margin-left: auto;
}
.notes__note-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
.notes__note-link {
  display: inline-block;
  width: 320px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}
.notes__item-wrap {
  padding: 30px 20px;
  min-height: 150px;
  background-color: #f8f7f4;
  border-radius: 15px;
}
/*!
  * ===========================================================
  * SUBSCRIBE FORM
  * ===========================================================
  */
.subscribe-form {
  font-size: 0px;
  text-align: right;
}
.subscribe-form input[type=email] {
  margin-bottom: 0px;
  margin-right: 10px;
  width: 358px;
}
.subscribe-form input[type=submit] {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.subscribe-form__label {
  margin-bottom: 35px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: left;
}
/*!
  * ===========================================================
  * CONTACTS
  * ===========================================================
  */
.contacts {
  position: relative;
  height: 430px;
}
.contacts img {
  max-width: 100%;
  height: auto;
}
.contacts__address {
  position: absolute;
  top: 62px;
  right: 27px;
  padding: 25px 25px;
  width: 252px;
  color: #323232;
  background-color: #fffffe;
  border-radius: 15px;
  text-align: center;
}
.contacts__address p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
}
.contacts__address strong {
  display: inline-block;
  margin: 2px 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.contacts__address .btn {
  margin: 6px 0px;
}
/*!
  * ===========================================================
  * PAGE FOOTER
  * ===========================================================
  */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 18px 27px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}
.page-footer__nav {
  margin: 0px;
  width: 350px;
}
.page-footer__nav-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer__nav-item {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 5px;
  min-width: 150px;
}
.page-footer__nav-item--like {
  font-weight: bold;
}
.page-footer__nav-item--like::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 15px;
  height: 13px;
  background-color: transparent;
  background-image: url('../img/heart-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.page-footer__nav-link {
  color: #ffffff;
}
.page-footer__copyright-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
.page-footer__copyright-link {
  color: #ffffff;
}
/*!
  * ===========================================================
  * SOCIAL LINKS SECTION
  * ===========================================================
  */
.social-links__items {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  width: 186px;
}
.social-links__item {
  display: block;
  margin: 5px 0px;
  padding: 0px;
  width: 38px;
  height: 38px;
  font-size: 0px;
  background-color: rgba(225, 225, 225, 0.5);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 19px;
  opacity: 0.8;
}
.social-links__item--tw {
  background-image: url('../img/twitter-icon.png');
}
.social-links__item--inst {
  background-image: url('../img/intagram-icon.png');
}
.social-links__item--fb {
  background-image: url('../img/facebook-icon.png');
}
.social-links__item--vk {
  background-image: url('../img/vk-icon.png');
}
/*!
  * ===========================================================
  * PAGINATOR
  * ===========================================================
  */
.paginator {
  display: inline-block;
  font-size: 0px;
}
.paginator__page-link {
  display: inline-block;
  padding: 4px;
  min-width: 18px;
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.paginator__page-link--active {
  color: #353535;
  background-color: #ffffff;
  border-radius: 13px;
}
